In [14]:
from scipy import stats
import numpy as np
import pandas as pd
import matplotlib as plt

In [2]:
data = [1,2,3,4,5,6,7,8,np.nan,10000]
if(data != np.nan):
    df = pd.DataFrame(data)
df

         0
0      1.0
1      2.0
2      3.0
3      4.0
4      5.0
5      6.0
6      7.0
7      8.0
8      NaN
9  10000.0

In [3]:
stats.zscore(df)

array([[nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan]])

In [26]:
data = [1,2,3,4,5,6,7,8,np.nan,1000]
df = pd.DataFrame(data)
z = (df - df.mean())/df.std(ddof=0)
z = stats.norm.sf(abs(z))
z

array([[0.06864541],
       [0.13039899],
       [0.2227143 ],
       [0.34398566],
       [0.4839824 ],
       [0.37399618],
       [0.2473867 ],
       [0.14819987],
       [       nan],
       [0.0386072 ]])

In [5]:
outliers = (z>-0.353).sum()
outliers

0    3
dtype: int64

In [43]:
def pad(data):
    bad_indexes = np.isnan(data)
    good_indexes = np.logical_not(bad_indexes)
    good_data = data[good_indexes]
    interpolated = np.interp(bad_indexes.nonzero()[0], good_indexes.nonzero()[0], good_data)
    data[bad_indexes] = interpolated
    return data

data = pd.DataFrame([1,2,np.nan,4,5,6,7,8,np.nan,10])
print(data)
interpolatedData = pd.DataFrame(pad(np.array(data,dtype="float")))
print(interpolatedData)

      0
0   1.0
1   2.0
2   NaN
3   4.0
4   5.0
5   6.0
6   7.0
7   8.0
8   NaN
9  10.0
      0
0   1.0
1   2.0
2   3.0
3   4.0
4   5.0
5   6.0
6   7.0
7   8.0
8   9.0
9  10.0