In [70]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

<h3>Simple Data</h3>
Declaring Simplest, Uniform Data, Converted to DataFrame

In [71]:
data = {"samad":[1,2,3,4,5,6,7,8,9,10],
        "misbah":[1,2,3,4,5,6,7,8,9,10],
        "taha":[1,2,3,4,5,6,7,8,9,10],
        "hashir":[1,2,3,4,5,6,7,8,9,10],
        "saqib":[1,2,3,4,5,6,7,8,9,10]
       }
df = pd.DataFrame(data)

In [72]:
df

   samad  misbah  taha  hashir  saqib
0      1       1     1       1      1
1      2       2     2       2      2
2      3       3     3       3      3
3      4       4     4       4      4
4      5       5     5       5      5
5      6       6     6       6      6
6      7       7     7       7      7
7      8       8     8       8      8
8      9       9     9       9      9
9     10      10    10      10     10

<h3>Applying PCA</h3>
Reducing 5 dimensions to 3 dimensions (defining principal component names as PC 1, PC 2 etc.)

In [73]:
pca = PCA(n_components=3)
principalComponents = pca.fit_transform(df)
principalDf = pd.DataFrame(data = principalComponents,columns = ['PC 1','PC 2','PC 3'])

In [74]:
principalDf

        PC 1          PC 2          PC 3
0  10.062306  9.948776e-16 -2.749356e-32
1   7.826238 -1.408494e-16  2.489337e-31
2   5.590170 -2.140940e-16 -3.863646e-32
3   3.354102 -8.873586e-17 -1.982426e-32
4   1.118034 -6.267908e-17 -9.406099e-33
5  -1.118034  6.267908e-17  9.406099e-33
6  -3.354102  8.873586e-17  1.982426e-32
7  -5.590170  2.140940e-16  3.863646e-32
8  -7.826238  1.408494e-16  4.066058e-32
9 -10.062306  4.648103e-16  7.626085e-32

<h3>Determine Information %</h3>
The information (variance) preserved through PCA seems to be 100% in first column, the rest of the principle components seem to be overkill

In [75]:
pca.explained_variance_ratio_

array([1.00000000e+00, 3.29887288e-33, 1.79736710e-64])

<h3>Determine Required Principal Components</h3>
One great way to determine the number of principal components requrired to optimize this data is use the following syntax, here ".99" is given as parameter in PCA method to indicate our desired atleast 99% information preservation. It can be for example, .95 for atleast 95% Information preservation.

In [82]:
pca2 = PCA(.99)
pca2.fit(df) # df is our dataFrame which we need optimized
print("Required Principle Components: ",pca2.n_components_)

Required Principle Components:  1

<h3>Trying less mutually correlated data</h3>

In [83]:
data2 = {"samad":[1,9,7,4,3,6,7,4,9,0],
        "misbah":[1,25,3,4,2,56,37,88,19,1],
        "taha":[10,3,34,41,50,60,70,82,91,10],
        "hashir":[1,2,2,4,9,46,27,78,19,1],
        "saqib":[1,2,3,4,5,6,7,8,9,10]
       }
df2 = pd.DataFrame(data2)

In [84]:
df2

   samad  misbah  taha  hashir  saqib
0      1       1    10       1      1
1      9      25     3       2      2
2      7       3    34       2      3
3      4       4    41       4      4
4      3       2    50       9      5
5      6      56    60      46      6
6      7      37    70      27      7
7      4      88    82      78      8
8      9      19    91      19      9
9      0       1    10       1     10

<h3>Applying PCA</h3>
Pre

In [87]:
pca = PCA(.99)
pca.fit(df2)
print("Required Principle Components: ",pca2.n_components_)

pca = PCA(n_components=pca.n_components_)
principalComponents = pca.fit_transform(df2)
principalDf = pd.DataFrame(principalComponents)
print("Variance (Information Preservation) Ratio: ",pca.explained_variance_ratio_)
principalDf

Required Principle Components:  3
Variance (Information Preservation) Ratio:  [0.81238218 0.17403154 0.0108426 ]

           0          1          2
0 -44.060586 -11.353987  -4.318756
1 -33.059303 -29.764600  10.453193
2 -28.092372   6.734891   1.249974
3 -22.333105  11.178207  -0.661465
4 -15.519887  18.083251  -4.768428
5  42.939398 -12.769779   0.181818
6  27.096761  10.613268   4.573104
7  92.459960 -21.029967  -4.213712
8  24.349474  39.333287   3.672950
9 -43.780340 -11.024570  -6.168678